<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <th:bolck th:replace="fragments/config :: configFragment"></th:bolck>
</head>
<body>
    <th:block th:replace="fragments/header :: headerFragment"></th:block>

    <section class="container">
        <th:block layout:fragment="content"></th:block>
        <div class="hidden_area" style="height: 105px;"></div>
    </section>

    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    <th:block th:replace="fragments/scripts"></th:block>
</body>
</html>
