html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.content{
    margin-bottom:100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.btn.btn-custom {
    border-radius: 2rem !important;
}

.fcolor_primary{
    color:#6768ab !important;
}
.btn-outline-custom {
     color: #6768ab;
     border-color: #6768ab;
 }

/*search*/
.form {
    position: relative
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}

.left-pan {
    padding-left: 7px;
}

.left-pan i {
    padding-left: 10px;
    color: #9ca3af
}

.form-input {
    height: 55px;
    text-indent: 10px;
    border-radius: 10px;
}

.form-input:focus {
    box-shadow: none;
    border: none;
}
.card-link,.card-link:hover{
    color: inherit;
}